@page "{courseId}"
@using CoreModule.Domain.Course.Enums
@using CoreModule.Facade.Category
@using DigiLearn.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DigiLearn.Web.Areas.Admin.Pages.Courses.EditModel
@inject ICourseCategoryFacade _CategoryFacade
@{
    ViewData["title"] = "ویرایش دوره";
    ViewData["selected"] = "courses_index";
    var categories = await _CategoryFacade.GetMainCategories();
}
<div class="card">
    <form class="card-body row" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            @Html.EditorFor(f=>f.Title)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(f=>f.Slug)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(f=>f.Price)
        </div>
        <div class="col-md-6">
            <label asp-for="ActionStatus"></label>
            <select asp-for="ActionStatus" class="form-control">
                <option value="@CourseActionStatus.Active">فعال</option>
                <option value="@CourseActionStatus.DeActive">غیرفعال</option>
                <option value="@CourseActionStatus.Pending">درحال برسی</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control">
                <option>انتخاب کنید</option>
                @foreach (var item in categories)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="SubCategoryId"></label>
            <select asp-for="SubCategoryId" class="form-control">
                <option>انتخاب کنید</option>
                @foreach (var item in categories.First(f => f.Id == Model.CategoryId).Children)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>
        <div class="col-md-12">
            @Html.EditorFor(f=>f.Description)
        </div>
        <div class="col-md-6">
            <label asp-for="CourseLevel"></label>
            <select asp-for="CourseLevel" class="form-control">
                <option value="@CourseLevel.Beginner">مقدماتی</option>
                <option value="@CourseLevel.Intermediate">از مقدماتی تا پیشرفته</option>
                <option value="@CourseLevel.Expert">پیشرفته</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="CourseStatus"></label>
            <select asp-for="CourseStatus" class="form-control">
                <option value="@CourseStatus.StartSoon">شروع دوره به زودی</option>
                <option value="@CourseStatus.Completed">تمام شده</option>
                <option value="@CourseStatus.InProgress">درحال برگزاری</option>
            </select>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(f=>f.ImageFile)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(f=>f.VideoFile)
        </div>
        <div class="col-md-12 d-flex mt-2 justify-content-end">
            <submit />
        </div>
    </form>
</div>
@section Scripts
    {
    <script>
        $("#CategoryId").change(function () {
            var id = $(this).val();
            $.ajax({
                url: "/ajax/getCategoryChildren?id=" + id,
                method: "get"
            }).done(function (data) {
                $("#SubCategoryId").html(data);
            });
        });
    </script>
}
