@{
    var selected = ViewData["selected"]?.ToString() ?? "";
}
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    <div class="brand-logo"><img class="logo" src="/admin/images/logo/logo.png"></div>
                    <h2 class="brand-text mb-0">Digi Learn</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class="nav-item @(selected=="index"?"active":null)">
                <a href="/admin">
                    <i class="menu-livicon" data-icon="desktop"></i>
                    <span class="menu-title" data-i18n="File Manager">داشبورد</span>
                </a>
            </li>

            <li class="nav-item ">
                <a href="javascript:void(0)">
                    <i class="menu-livicon" data-icon="Dashboard"></i>
                    <span class="menu-title" data-i18n="Dashboard">مدیریت دوره ها</span>
                </a>
                <ul class="menu-content">
                    <li class="@(selected=="courses_index"?"active":null)">
                        <a href="/admin/courses">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="eCommerce">دوره ها</span>
                        </a>
                    </li>
                    <li class="@(selected=="courses_categories"?"active":null)">
                        <a href="/admin/courses/categories">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="Analytics">دسته بندی ها</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="javascript:void(0)">
                    <i class="menu-livicon" data-icon="Dashboard"></i>
                    <span class="menu-title" data-i18n="Dashboard">مدیریت بلاگ</span>
                </a>
                <ul class="menu-content">
                    <li class="@(selected=="blog_posts"?"active":null)">
                        <a href="/admin/blog/posts">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="eCommerce">پست ها</span>
                        </a>
                    </li>
                    <li class="@(selected=="blog_categories"?"active":null)">
                        <a href="/admin/blog/categories">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="Analytics">دسته بندی ها</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item @(selected=="teachers"?"active":null)">
                <a href="/admin/teachers">
                    <i class="menu-livicon" data-icon="box"></i>
                    <span class="menu-title" data-i18n="File Manager">مدیریت مدرسین</span>
                </a>
            </li>
            <li class="nav-item @(selected=="tickets"?"active":null)">
                <a href="/admin/tickets">
                    <i class="menu-livicon" data-icon="box"></i>
                    <span class="menu-title" data-i18n="File Manager">مدیریت  تیکت ها</span>
                </a>
            </li>
            <li class="nav-item @(selected=="comments"?"active":null)">
                <a href="/admin/comments">
                    <i class="menu-livicon" data-icon="box"></i>
                    <span class="menu-title" data-i18n="File Manager">مدیریت  نظرات</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="javascript:void(0)">
                    <i class="menu-livicon" data-icon="Users"></i>
                    <span class="menu-title" data-i18n="Dashboard">مدیریت کاربران</span>
                </a>
                <ul class="menu-content">
                    <li class="@(selected=="users"?"active":null)">
                        <a href="/admin/users">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="eCommerce">لیست کاربران</span>
                        </a>
                    </li>
                    <li class="@(selected=="roles"?"active":null)">
                        <a href="/admin/roles">
                            <i class="bx bx-left-arrow-alt"></i>
                            <span class="menu-item" data-i18n="Analytics">نقش ها</span>
                        </a>
                    </li>
                </ul>
            </li>
         
        </ul>
    </div>
</div>
