@page "{courseId}/{handler?}"
@model DigiLearn.Web.Areas.Admin.Pages.Courses.Sections.IndexModel
@{
    ViewData["title"] = "مدیریت سر فصل های دوره " + Model.Course.Title;
    ViewData["selected"] = "courses_index";
    var counter = 1;
}
<h2>@ViewData["title"]</h2>
<div class="collapsible">
    @foreach (var item in Model.Course.Sections)
    {
        <div class="card collapse-header">
            <div id="c_@item.Id" class="card-header" data-toggle="collapse" role="button" data-target="#r_@item.Id" aria-controls="r_@item.Id" aria-expanded="false">
                <span class="collapse-title">
                    @item.Title
                </span>
            </div>
            <div id="r_@item.Id" role="tabpanel" aria-labelledby="c_@item.Id" class="collapse">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان</th>
                            <th>زمان</th>
                            <th>وضعیت</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var episode in item.Episodes)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@episode.Title</td>
                                <td>@episode.TimeSpan</td>
                                <td>
                                    @if (episode.IsActive)
                                    {
                                        <label class="badge badge-success">فعال</label>
                                    }
                                    else
                                    {
                                        <label class="badge badge-danger">غیر فعال</label>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-page="EditEpisode" asp-route-episodeId="@episode.Id" asp-route-courseId="@item.CourseId">ویرایش</a>
                                    @if (episode.IsActive == false)
                                    {
                                        <Question url="@Url.Page("Index", "Accept", new { courseId = item.CourseId, episodeId = episode.Id })" class="btn btn-success btn-sm">تایید</Question>
                                    }
                                    <delete-item url="@Url.Page("Index", "Delete", new { courseId = item.CourseId, episodeId = episode.Id })">حدف</delete-item>
                                </td>
                            </tr>
                            counter += 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
