@page "{handler?}"
@using CoreModule.Domain.Teacher.Enums
@model DigiLearn.Web.Areas.Admin.Pages.Teachers.IndexModel
@{
    ViewData["title"] = "مدیریت مدرسین";
    ViewData["selected"] = "teachers";
}
<div class="card ">
    <div class="table-responsive card-body p-0 mb-0">
        <table class="table table-bordered table-hover mb-0 data-table">
            <thead>
                <tr>
                    <th>نام کاربری</th>
                    <th>نام و نام خانوادگی</th>
                    <th>شماره تلفن</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Teachers)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.User.Name @item.User.Name</td>
                        <td>@item.User.PhoneNumber</td>
                        <td>
                            @switch (@item.Status)
                            {
                                case TeacherStatus.Active:
                                <label class="badge bg-success">فعال</label>
                                    break;
                                case TeacherStatus.Inactive:
                                    <label class="badge bg-danger">غیرفعال</label>

                                    break;

                                case TeacherStatus.Pending:
                                    <label class="badge bg-primary">درحال برسی</label>

                                    break;
                            }
                        </td>
                        <td>
                            @if (item.Status == TeacherStatus.Active)
                            {
                                <Question class="btn btn-danger" url="@Url.Page("Index", "toggleStatus", new { id = item.Id })">
                                    غیرفعال سازی

                                </Question>
                            }
                            else if (item.Status == TeacherStatus.Inactive)
                            {
                                <Question class="btn btn-success" url="@Url.Page("Index", "toggleStatus", new { id = item.Id })">
                                    فعال سازی
                                </Question>
                            }
                            <a class="btn btn-primary" asp-page="Show" asp-route-id="@item.Id">نمایش</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
