@page
@using Common.Application.DateUtil
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TicketModule.Data.Entities
@model DigiLearn.Web.Areas.Admin.Pages.Tickets.IndexModel
@{
    ViewData["title"] = "مدیریت تیکت ها";
    ViewData["selected"] = "tickets";
}

<form class="card mb-2">
    <div class="card-header mb-0 pb-0 d-flex justify-content-between">
        <h5>فیلتر</h5>
        <div class="">
            <a asp-page="Index" class="btn btn-sm btn-danger">حذف فیلتر</a>
            <button type="submit" class="btn btn-success btn-sm">اعمال فیلتر</button>
        </div>
    </div>
    <div class="card-body  mb-0">
        <div class="row">
            <div class="col-md-6">
                <label>عنوان</label>
                <input type="text" class="form-control" asp-for="FilterParams.Title" />
            </div>
            <div class="col-md-6">
                <label>وضعیت</label>
                <select class="form-control" asp-for="FilterParams.Status">
                    <option value="null">همه</option>
                    <option value="@TicketStatus.Closed">بسته شده</option>
                    <option value="@TicketStatus.Answered">پاسخ داده شده</option>
                    <option value="@TicketStatus.Pending">درحال برسی</option>
                </select>
            </div>
        </div>
    </div>
</form>
<div class="card ">
    <div class="table-responsive card-body p-0 mb-0">
        <table class="table table-bordered table-hover mb-0">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th>نام و نام خانوادگی</th>
                    <th>تاریخ ثبت</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FilterResult.Data)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.OwnerFullName</td>
                        <td>@item.CreationDate.ToPersianDateTime()</td>
                        <td>
                            @switch (item.Status)
                            {
                                case TicketStatus.Pending:
                                    <span class="badge badge-info">درحال برسی</span>
                                    break;
                                case TicketStatus.Answered:
                                    <span class="badge badge-success">پاسخ داده شده</span>
                                    break;
                                case TicketStatus.Closed:
                                    <span class="badge badge-danger">بسته شده</span>
                                    break;
                            }
                        </td>
                        <td>
                            <a asp-page="Show" asp-route-id="@item.Id" class="btn btn-primary">نمایش</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<partial name="_Pagination" model="Model.FilterResult" />
