@using BlogModule.Utils
@using Common.Domain.Utils
@model BlogModule.Services.DTOs.Query.BlogPostFilterItemDto
@{
    var link = $"/blog/{Model.Slug}";
}
<div class="article">
    <div class="main-article shadow">
        <div class="image-layer">
            <img src="@BlogDirectories.GetPostImage(Model.ImageName)" />
            <div class="image-cover">
                <a class="image-link" href="@link"></a>
                <a class="btn-show" href="@link">
                    مشاهده مقاله
                </a>
            </div>
        </div>
        <div class="article-body p-2">
            <div class="title">
                <a href="@link">@Model.Title</a>
            </div>

            <p class="description">
                @Model.Description.ConvertHtmlToText().SubStringCustom(100)
            </p>

            <div class="filter"></div>

        </div>
        <div class="article-footer">
            <span>
                <i class="zmdi zmdi-eye"></i>
                @Model.Visit
            </span>
            <span>
                <i class="fa fa-comments-o"></i>
                @Model.Category.Title
            </span>
            <a href="#">
                <i class="zmdi zmdi-account"></i>
                @Model.OwnerName
            </a>
        </div>
    </div>
</div>